* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}

.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 260px;
    background: #111;
    color: white;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
    position: fixed;
}

.sidebar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar h2 {
    margin-top: 10px;
}

.sidebar nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
    transition: 0.3s;
}

.sidebar nav a:hover {
    color: #00bcd4;
}

/* Content */
.content {
    margin-left: 260px;
    padding: 40px;
    width: 100%;
}

section {
    margin-bottom: 60px;
}

#home h1 span {
    color: #00bcd4;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #00bcd4;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

/* Skills */
.skill {
    margin-bottom: 15px;
}

.bar {
    background: #ddd;
    height: 10px;
    border-radius: 5px;
}

.bar div {
    background: #00bcd4;
    height: 10px;
    border-radius: 5px;
}

/* Social */
.social-icons a {
    font-size: 30px;
    margin-right: 15px;
    color: #111;
}
