* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #1e2228;
  color: #ffffff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-left img {
  width: 40px;
  border-radius: 50%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
}

.nav-links a.active,
.nav-links a:hover {
  color: #ff4d4d;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
}

.hero-text {
  max-width: 520px;
}

.hero-text h5 {
  color: #aaa;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text h1 span {
  color: #ff4d4d;
}

.hero-text h2 {
  font-size: 32px;
  margin: 10px 0;
}

.hero-text p {
  color: #bbb;
  margin-top: 15px;
  line-height: 1.7;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 30px;
  background: #ff4d4d;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
}

/* IMAGE */
.hero-img img {
  width: 360px;
  border-radius: 20px;
}

/* SECTIONS */
.section {
  padding: 80px 60px;
  text-align: center;
}

.section.dark {
  background: #181b20;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: #22262d;
  padding: 25px;
  width: 280px;
  border-radius: 15px;
}

.card a {
  color: #ff4d4d;
  text-decoration: none;
  font-weight: bold;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  font-size: 14px;
}
