body {
  margin: 0;
  font-family: Orbitron, sans-serif;
  background: #000;
  color: #00ffcc;
  text-align: center;
}

.dark { background:#000; color:#00ffcc; }
.light { background:#f5f5f5; color:#111; }

#themeToggle {
  position: fixed;
  top: 15px;
  right: 15px;
  background: none;
  border: 1px solid #00ffcc;
  color: inherit;
  padding: 6px 10px;
  cursor: pointer;
}

.hero { padding: 70px 20px; }
.logo { width: 130px; }

.glitch {
  font-size: 50px;
  position: relative;
}

.tagline {
  color: #ccc;
  margin-top: 10px;
}

.profile {
  padding: 60px 20px;
}

.profile-img {
  width: 190px;
  border-radius: 50%;
  border: 3px solid #00ffcc;
  margin-bottom: 20px;
}

.terminal-box {
  background: #000;
  border: 1px solid #00ffcc;
  width: 85%;
  margin: 30px auto;
  padding: 20px;
  text-align: left;
  font-size: 14px;
}

.youtube {
  padding: 50px 20px;
}

.yt-btn {
  display: inline-block;
  padding: 12px 25px;
  border: 1px solid #00ffcc;
  color: #00ffcc;
  text-decoration: none;
  margin-top: 15px;
}

.yt-btn:hover {
  background: #00ffcc;
  color: #000;
}

.contact {
  padding: 50px 20px;
}

footer {
  padding: 20px;
  font-size: 14px;
}

